* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #62646a;
}
* .container {
  max-width: 90%;
}

header {
  background: transparent;
  width: 100%;
  position: absolute;
  z-index: 999;
  padding-top: 10px;
  position: fixed;
  transition: all 0.5s;
}
header .container {
  padding: 0;
}
header .container .navbar-dark {
  padding-bottom: 20px;
}
header .container .navbar-dark svg {
  fill: white;
}
header .container .navbar-dark .navbar-search {
  width: 36%;
  opacity: 0;
  transition: all 0.3s;
}
@media screen and (max-width: 768px) {
  header .container .navbar-dark .navbar-search {
    display: none !important;
    width: 0 !important;
  }
}
header .container .navbar-dark .navbar-search .search-form {
  display: flex;
}
header .container .navbar-dark .navbar-search .search-form input {
  width: 90%;
  padding: 8px 20px;
  outline: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid #e4e5e7;
}
header .container .navbar-dark .navbar-search .search-form input:focus {
  border-color: black;
}
header .container .navbar-dark .navbar-search .search-form .btn {
  width: 10%;
  border: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
header .container .navbar-dark .navbar-search .search-form .btn .btn-icon svg {
  fill: white;
}
header .container .navbar-dark .navbar-nav .nav-item {
  margin: 0 5px;
}
header .container .navbar-dark .navbar-nav .nav-item .nav-link {
  text-decoration: none;
  color: white;
}
header .container .navbar-dark .navbar-nav .nav-item .nav-link svg {
  fill: white;
}
header .container .navbar-dark .navbar-btn a {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  font-weight: 700;
  padding: 7px 20px;
  font-size: 0.9rem;
  transition: all 0.5s;
}
header .container .navbar-dark .navbar-btn a:hover {
  border: 1px solid transparent;
  background-color: #1dbf73;
  color: white;
}
header #categories_sub {
  margin: 0 16px;
  border-top: 1px solid #e4e5e7;
  opacity: 0;
  transition: all 0.5s;
  transform: scaleY(0);
}
header #categories_sub .categories_sub-menu {
  margin-left: 5%;
  margin-right: 5%;
}
header #categories_sub .categories_sub-menu .sub-menu {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}
header #categories_sub .categories_sub-menu .sub-menu .sub-item {
  padding: 8px 0;
  position: relative;
}
header #categories_sub .categories_sub-menu .sub-menu .sub-item::after {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  background-color: #1dbf73;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: all 0.2s;
}
header #categories_sub .categories_sub-menu .sub-menu .sub-item:hover::after {
  opacity: 1;
}
header #categories_sub .categories_sub-menu .sub-menu .sub-item a {
  text-decoration: none;
  color: #6a6a6a;
}

.active {
  background: white;
  width: 100%;
  position: absolute;
  z-index: 999;
  padding-top: 10px;
  position: fixed;
}
.active .container {
  padding: 0;
}
.active .container .navbar-dark svg {
  fill: black;
}
.active .container .navbar-dark .navbar-search {
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .active .container .navbar-dark .navbar-search {
    display: none !important;
    width: 0 !important;
  }
}
.active .container .navbar-dark .navbar-nav .nav-item {
  margin: 0 5px;
}
.active .container .navbar-dark .navbar-nav .nav-item .nav-link {
  text-decoration: none;
  color: black;
  transition: all 0.5s;
}
.active .container .navbar-dark .navbar-nav .nav-item .nav-link svg {
  fill: black;
  transition: all 0.5s;
}
.active .container .navbar-dark .navbar-nav .nav-item:nth-child(1) .nav-link {
  color: #1e1692;
}
.active .container .navbar-dark .navbar-nav .nav-item:hover .nav-link {
  color: #1dbf73;
}
.active .container .navbar-dark .navbar-nav .nav-item:hover svg {
  fill: #1dbf73;
}
.active .container .navbar-dark .navbar-btn a {
  text-decoration: none;
  color: #1dbf73;
  border: 1px solid #1dbf73;
  border-radius: 5px;
  font-weight: 700;
  padding: 7px 20px;
  font-size: 0.9rem;
  transition: all 0.5s;
}
.active #categories_sub {
  opacity: 1;
  transform: scaleX(1);
}
@media screen and (max-width: 768px) {
  .active #categories_sub {
    display: none;
  }
}

#carousel {
  position: relative;
}
#carousel .carousel-slider {
  height: 680px;
  width: 100%;
}
#carousel .carousel-slider .carousel_item:nth-child(1) {
  background-image: url(./../../img/bg-hero-1-1792-x1.png);
}
#carousel .carousel-slider .carousel_item:nth-child(2) {
  background-image: url(./../../img/bg-hero-2-1792-x1.png);
}
#carousel .carousel-slider .carousel_item:nth-child(3) {
  background-image: url(./../../img/bg-hero-3-1792-x1.png);
}
#carousel .carousel-slider .carousel_item:nth-child(4) {
  background-image: url(./../../img/bg-hero-4-1792-x1.png);
}
#carousel .carousel-slider .carousel_item:nth-child(5) {
  background-image: url(./../../img/bg-hero-5-1792-x1.png);
}
#carousel .carousel-slider .carousel_item {
  position: relative;
  height: 680px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 768px) {
  #carousel .carousel-slider .carousel_item {
    background-image: none !important;
    background-color: #023a15 !important;
  }
  #carousel .carousel-slider .carousel_item .carousel-footer {
    opacity: 0;
  }
}
#carousel .carousel-slider .carousel_item .carousel-footer {
  position: absolute;
  bottom: 15px;
  right: 80px;
}
#carousel .carousel-slider .carousel_item .carousel-footer i {
  font-size: 0.8rem;
  color: #d0d02e;
}
#carousel .carousel-slider .carousel_item .carousel-footer p {
  color: white;
}
#carousel .carousel-slider .carousel_item .carousel-footer p b {
  color: white;
}
#carousel .carousel-text {
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#carousel .carousel-text .carousel-content .carousel-head {
  margin-bottom: 20px;
}
#carousel .carousel-text .carousel-content .carousel-head span {
  font-size: 3rem;
  color: white;
  line-height: 56px;
  font-weight: 700;
}
#carousel .carousel-text .carousel-content .carousel-head span i {
  font-size: 3.5rem;
  font-family: "DomaineDisplay";
  font-weight: 500;
  color: white;
}
@media screen and (max-width: 768px) {
  #carousel .carousel-text .carousel-content .carousel-head span {
    font-size: 2rem;
  }
  #carousel .carousel-text .carousel-content .carousel-head i {
    font-size: 2rem !important;
  }
}
#carousel .carousel-text .carousel-content .carousel-search {
  position: relative;
  width: 100%;
  display: flex;
  background-color: white;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  border: none;
}
#carousel .carousel-text .carousel-content .carousel-search span:first-of-type {
  text-align: center;
  line-height: 45px;
  height: 50px;
  width: 50px;
  background-color: transparent;
  color: gray;
  border: none;
}
#carousel .carousel-text .carousel-content .carousel-search span {
  border: none;
  width: 100%;
}
#carousel .carousel-text .carousel-content .carousel-search span input {
  height: 50px;
  width: 70%;
  outline: none;
  border: none;
}
#carousel .carousel-text .carousel-content .carousel-search .search-btn {
  height: 100%;
}
#carousel .carousel-text .carousel-content .carousel-search .search-btn a {
  padding: 25px;
  text-align: center;
  background-color: #1dbf73;
  text-decoration: none;
  color: white;
  font-weight: 700;
  transition: all 0.2s;
  border: none;
}
#carousel .carousel-text .carousel-content .carousel-search .search-btn a:hover {
  background-color: #159057;
}
#carousel .carousel-text .carousel-content .carousel-btn {
  margin-top: 30px;
  display: flex;
}
@media screen and (max-width: 768px) {
  #carousel .carousel-text .carousel-content .carousel-btn {
    opacity: 0;
  }
}
#carousel .carousel-text .carousel-content .carousel-btn .btn-list a {
  font-size: 0.85rem;
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  border: 1px solid white;
  border-radius: 20px;
  margin: 0 5px;
  font-weight: 700;
  letter-spacing: 0.5px;
  transition: all 0.3s;
}
#carousel .carousel-text .carousel-content .carousel-btn .btn-list a:hover {
  background-color: white;
  color: black;
}
#carousel .carousel-brand {
  background-color: #fafafa;
}
#carousel .carousel-brand .brand-list {
  text-align: center;
  max-width: 120px;
  margin: 10px;
}
#carousel .carousel-brand .brand-list p {
  margin-top: 15px;
  text-align: center;
  color: #b5b6ba;
  font-weight: 600;
}
#carousel .carousel-brand .brand-list img {
  height: 60px;
}

#service {
  margin: 96px 0;
}
#service .service-header {
  padding-bottom: 24px;
}
#service .service-header h2 {
  font-weight: 700;
  color: #404145;
}
#service .service-content .service-slider .service-item {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}
#service .service-content .service-slider .service-item .service-img img {
  width: 240px;
}
#service .service-content .service-slider .service-item .service-item-header {
  position: absolute;
  top: 5px;
  left: 15px;
}
#service .service-content .service-slider .service-item .service-item-header h4 {
  letter-spacing: 1px;
  color: white;
  font-weight: 700;
}
#service .service-content .service-slider .service-item .service-item-header h4 small {
  font-size: 0.9rem;
  color: white;
}
#service .service-content .service-slider .service-item .transparent-link {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  opacity: 0;
  transition: all 0.5s;
}
#service .service-content .service-slider .service-item:hover .transparent-link {
  opacity: 0.2;
}
#service .service-content .service-slider .slick-prev {
  background-color: #fff;
  z-index: 4;
  width: 3rem;
  height: 3rem;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  border: 0;
  line-height: 100%;
}
#service .service-content .service-slider .slick-next {
  background-color: #fff;
  z-index: 4;
  width: 3rem;
  height: 3rem;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  border: 0;
  line-height: 100%;
  margin-right: 30px;
}
#service .service-content .service-slider .slick-prev:before,
#service .service-content .service-slider .slick-next:before {
  color: transparent;
  width: 16px;
  height: 16px;
  background-image: url(./../../img/arrows.a8b0bad.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
#service .service-content .service-slider .slick-next:before {
  background-position: 0 -20px;
}

#selling {
  padding: 96px 0;
  background-color: #f1fdf7;
}
#selling .selling-left {
  padding-right: 11%;
}
#selling .selling-left .selling-header h2 {
  font-weight: 700;
  color: #404145;
}
#selling .selling-left .selling-content .selling-text {
  margin: 20px 0;
}
#selling .selling-left .selling-content .selling-text h6 {
  color: #404145;
  font-weight: 700;
  font-size: 1.1rem;
}
#selling .selling-left .selling-content .selling-text h6 span svg {
  fill: rgb(122, 125, 133);
  width: 24px;
  height: 24px;
}
#selling .selling-left .selling-content .selling-text p {
  font-size: 1.1rem;
  line-height: 1.8rem;
}
#selling .selling-right .selling-video picture {
  position: relative;
}
#selling .selling-right .selling-video picture img {
  cursor: pointer;
}
#selling .selling-right .selling-video picture::after {
  content: "";
  background: url(https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/desktop-play-button.c1196d6.png) no-repeat;
  background-size: 80px;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal .modal-content {
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 768px) {
  .modal .modal-content {
    width: 100%;
  }
}

#categories {
  padding: 96px 0;
}
#categories .categories-header {
  margin-bottom: 20px;
}
#categories .categories-header h2 {
  font-weight: 700;
  color: #404145;
}
#categories .categories-content .categories-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
#categories .categories-content .categories-list .categories-item {
  text-align: center;
  position: relative;
  padding: 25px 10px;
}
@media screen and (min-width: 900px) {
  #categories .categories-content .categories-list .categories-item {
    width: 20%;
  }
}
@media screen and (min-width: 600px) and (max-width: 900px) {
  #categories .categories-content .categories-list .categories-item {
    width: 33.33%;
  }
}
@media screen and (min-width: 300px) and (max-width: 600px) {
  #categories .categories-content .categories-list .categories-item {
    width: 50%;
  }
}
#categories .categories-content .categories-list .categories-item a {
  text-decoration: none;
}
#categories .categories-content .categories-list .categories-item a img {
  height: 48px;
  width: 48px;
}
#categories .categories-content .categories-list .categories-item a p {
  margin-top: 15px;
  color: #222325;
}
#categories .categories-content .categories-list .categories-item a::after {
  content: "";
  height: 1.5px;
  width: 96px;
  position: absolute;
  background-color: #c5c6c9;
  top: 80px;
  right: 50%;
  transform: translateX(50%) scaleX(0.5);
  transition: all 0.2s;
  display: block;
}
#categories .categories-content .categories-list .categories-item:hover a::after {
  height: 2px;
  background-color: #1dbf73;
  transform: scaleX(1);
  right: 50%;
  transform: translateX(50%);
}

#business {
  padding: 96px 0;
  background-color: #0d084d;
}
#business .business-left .business-header {
  margin-bottom: 20px;
  max-width: 450px;
}
#business .business-left .business-header .business-logo svg {
  width: 178px;
  height: 22px;
}
#business .business-left .business-header .text-upper {
  background: #584aff;
  color: white;
  font-size: 10px;
  border-radius: 999px;
  border: 1px solid transparent;
  font-weight: 700;
  padding: 3px 7px 2px;
  text-align: center;
  line-height: 100%;
  display: inline-flex;
  text-transform: uppercase;
}
#business .business-left .business-header h2 {
  color: white;
  margin: 32px 0 24px 0;
  font-weight: 700;
  line-height: 120%;
}
#business .business-left .business-header h2 i {
  font-family: "DomaineDisplay";
  color: white;
  font-weight: 500;
  font-size: 2rem;
}
#business .business-left .business-header p {
  font-size: 1.2rem;
  color: white;
}
#business .business-left .business-content ul {
  list-style: none;
}
#business .business-left .business-content ul li {
  color: white;
  padding-bottom: 12px;
  display: flex;
}
#business .business-left .business-content ul li svg {
  fill: rgb(122, 125, 133);
  width: 24px;
  height: 24px;
  margin-right: 5px;
}
#business .business-left .business-btn {
  margin-top: 50px;
}
#business .business-left .business-btn a {
  padding: 12px 24px;
  text-align: center;
  background-color: #1dbf73;
  text-decoration: none;
  color: white;
  font-weight: 600;
  transition: all 0.2s;
  border: 1px solid transparent;
  border-radius: 5px;
}
#business .business-left .business-btn a:hover {
  background-color: #159057;
}/*# sourceMappingURL=style.css.map */