// Color
// **********
// white
$color-white-1 :  white;
$color-white-2 :  #fafafa;
$color-white-3 :  #c5c6c9;
$color-white-4 :  #d4defb;
$color-white-5 :  #f5f5f5;
$color-white-6 :  #efeff0;
$color-white-7 :  #e4e5e7;

// black
$color-black-1: black;
$color-black-2: #222325;

//green
$color-green-1: #1dbf73;
$color-green-2: #19a463;
$color-green-3: #003912;
$color-green-4: #023a15;
$color-green-5: #f1fdf7;


// blue
$color-blue-1: #446ee7;
$color-blue-2: #584aff;
$color-blue-3: #1e1692;
$color-blue-4: #0d084d;

// grey:
$color-grey-1: grey;
$color-grey-2: #b5b6ba;
$color-grey-3: #95979d;
$color-grey-4: #74767e;
$color-grey-5: #62646a;
$color-grey-6: #404145;

// yellow
$color-yellow: #d0d02e;
// dark-brown
$color-dark-brown: #45091b;

// Font weight
$fw-1: 400;
$fw-2: 500;
$fw-3: 600;
$fw-4: 700;

// font size 
$fs-1: 16px;
$fs-2: 18px;
$fs-3: 20px;
$fs-4: 24px;
$fs-5: 32px;
$fs-6: 34px;
$fs-7: 48px;

// padding
$pd-1: 4px;
$pd-2: 8px;
$pd-3: 12px;
$pd-4: 24px;
$pd-5: 48px;
$pd-6: 96px;
$pd-7: 120px;










