#business {
  padding: $pd-6 0;
  background-color: $color-blue-4;
  .business-left {
    .business-header {
      margin-bottom: 20px;
      max-width: 450px;
      .business-logo {
        svg {
          width: 178px;
          height: 22px;
        }
      }
      .text-upper {
        background:$color-blue-2 ;
        color: $color-white-1;
        font-size: 10px;
        border-radius: 999px;
        border: 1px solid transparent;
        font-weight: 700;
        padding: $pd-1 $pd-2 $pd-1 - 2px;
        text-align: center;
        line-height: 100%;
        display: inline-flex;
        text-transform: uppercase;
      }
      h2 {
        color: $color-white-1;
        margin: 32px 0 24px 0;
        font-weight: 700;
        line-height: 120%;
        i {
          font-family: "DomaineDisplay";
          color: $color-white-1;
          font-weight: 500;
          font-size: 2rem;
        }
      }
      p {
        font-size: 1.2rem;
        color: $color-white-1;
      }
    }

    .business-content {
      ul {
        list-style: none;
        li {
          color: $color-white-1;
          padding-bottom: $pd-3;
          display: flex;
          svg {
            fill: rgb(122, 125, 133);
            width: 24px;
            height: 24px;
            margin-right: 5px;
          }
        }
      }
    }

    .business-btn {
      margin-top: 50px;
      a {
        padding: $pd-3 $pd-4;
        text-align: center;
        background-color: $color-green-1;
        text-decoration: none;
        color: $color-white-1;
        font-weight: 600;
        transition: all 0.2s;
        border: 1px solid transparent;
        border-radius: 5px ;
        &:hover {
          background-color: $color-green-2;
        }
      }
    }
  }
  .business-right {
    @media screen and (max-width:1200px) {
      margin-top: 48px;
    }
    img {
      width: calc(100% + 16px);
      margin: 0 -16px 0 0;
    }
  }
  
}