.header {
  color: #62646a;
  color: black;
  color: white;
  color: #1dbf73;
  color: #1e1692;

}
.carousel {
  color: #023a15;
  color: #d0d02e;
  color: #fafafa;
}
.service {
  color: #404145;
  color: #222325;

}
.categories {
  color: #c5c6c9;;
}
.business {
  color: #584aff;
  color: #0d084d;
}
.testimonial {
  color: #74767e;
  color: #003912;

}
.logo {
  color: #446ee7;
  color: #d4defb;
}
.project {
  color: #f5f5f5;
  color: #95979d;
}
.sign-up {
  color: #45091b;
  color: #19a463;
}
footer {
  color: #b5b6ba;
  color: #e4e5e7;
  color: #efeff0;
}