footer {
  padding-top: $pd-6;
  border-top: 1px solid #e4e5e7;
  @media screen and (max-width: 576px) {
    padding: $pd-4 0;
  }

  .footer-link {
    display: flex;
    flex-wrap: wrap;

    .footer-item {
      width: 20%;

      @media screen and (max-width:992px) {
        width: 33.33%;
      }

      @media screen and (max-width:768px) {
        width: 50%;
      }

      @media screen and (max-width:576px) {
        width: 100%;
      }

      .link-header {
        h6 {
          padding-bottom: $pd-4;
        }
      }

      .link-list {
        ul {
          list-style: none;

          li {
            padding-bottom: $pd-3 + 4px;

            a {
              color: $color-grey-4;

              p {
                color: #b5b6ba;
                font-size: $fs-1 - 1px;
                margin: 0;
              }
            }
          }
        }
      }
    }
  }

  .footer-social {
    border-top: 1px solid $color-white-7 ;
    padding: $pd-4 0;
    justify-content: space-between;
    @media screen and (max-width:992px) {
      justify-content: center;
      flex-direction: column;
    }

    .social-left {
      display: flex;
      flex-direction: row;
      @media screen and (max-width:992px) {
        justify-content: center;
        flex-direction: column;
      }
      span {
        svg {
          width: 77px;
          height: 23px;
        }

      }

      p {
        margin: 5px 0 0 20px;

        span {
          color: $color-grey-2;
        }
      }
    }

    .social-right {
      @media screen and (max-width:992px) {
        justify-content: center;
        flex-direction: column;
      }
      .social {
        list-style: none;

        .social-link {
          padding-top: $pd-4 - 8px;
          padding-right: $pd-4 - 6px;

          a {
            padding: $pd-1;
            border: 1px solid transparent;

            &:hover {
              background-color: $color-white-5;
              border-radius: 54px;
            }

            svg {
              fill: #74767e
            }
          }
        }
      }

      .setting-btn {
        .btn-list {
          margin: 0 8px;
          text-decoration: none;
          padding: $pd-1 $pd-2;
          border: 1px solid transparent;
          transition: all 0.3s;
          &:hover {
            background-color: $color-white-5;
            border-radius: 54px;
            color: #404145;
          }
          span {
            color: $color-grey-4;
            font-size: $fs-1 - 1px;
            font-weight: $fw-3;
            line-height: 21px;
          }
        }
        .access {
          span {
            svg {
              fill: $color-grey-4;
              transition: all 0.3s;
            }

            &:hover {
              svg {
                .circle-wrapper {
                  stroke: $color-white-6 ;
                  fill: $color-white-6 ;
                }
                fill: $color-grey-6;
              }
            }
          }
        }
      }
    }
  }
}